<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="remoteAddress" value="10.152.120.24" />
    <add key="username" value="funhall" />
    <add key="password" value="ubuntu123" />
    <add key="filePath" value="bookings/" />
  </appSettings>
</configuration>